---
import Layout from "../../layouts/Layout.astro";

import PostSummary from "../../layouts/PostSummaryLayout.astro";
import Pagination from '../../components/Pagination.astro';

const allPosts = await Astro.glob('./*.md*');
export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob('./*.mdx');
  const formattedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishedTime).getTime() - new Date(a.frontmatter.publishedTime).getTime());

  return paginate(formattedPosts, {
    pageSize: 1,
  })
}
const { page } = Astro.props;
const pathname = new URL(Astro.request.url).pathname.split('/');
const firstPath = pathname[1];
---

<Layout pageTitle="" pageDescription="">
    <section class="container w-full md:max-w-6xl mx-auto my-10 md:my-28 px-4 md:px-6">
        <ol>
            {
            page.data.map((post) => (
                <li>
                <PostSummary 
                    url={post.url} 
                    postTitle={post.frontmatter.postTitle} 
                    publishedTime={post.frontmatter.publishedTime} 
                    postDescription={post.frontmatter.postDescription} 
                    tags={post.frontmatter.tags}
                />
                </li>
            ))
            }
        </ol>

        {allPosts.length > 1 ? (
            <div class="mt-4">
            <Pagination
                length={page.lastPage} 
                currentUrl={page.url.current} 
                currentPage={page.currentPage} 
                firstUrl={`/${firstPath}`} 
                prevUrl={page.url.prev} 
                nextUrl={page.url.next} 
                lastUrl={`/${firstPath}/${page.lastPage}`}
            />
            </div>
        ) : null}
    </section>
</Layout>