---
import { formatDate } from '../utils';

const posts = await Astro.glob('../pages/blog/*.mdx');
const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.publishedTime).getTime() - new Date(a.frontmatter.publishedTime).getTime());
const latestPost = sortedPosts[0];

const { postTitle, postImage, postDescription, publishedTime, tags } = latestPost.frontmatter;

const dateFormatted = formatDate(publishedTime, 'es-ES', { year: 'numeric', month: 'long', day: 'numeric' });
---

<a class="group" href={latestPost.url}>
    <div class="relative">
        <div class="ease-in-out transition duration-500 md:absolute rounded-lg text-zinc-900 font-bold z-10 md:bg-white md:p-2 md:border md:border-gray-200 -translate-y-[50%] md:translate-x-12 group-hover:-translate-y-10">
            Última publicación
        </div>
        <div
            style={{'--image-url': `url(${postImage})`}}
            class='relative md:text-gray-900 text-white ease-in-out transition-all duration-500 bg-white/50 backdrop-blur-xl border border-gray-200 md:p-12 p-6 rounded-lg md:max-w-[50%] group-hover:md:shadow-lg group-hover:-translate-y-3 overflow-hidden min-h-fit bg-no-repeat bg-cover max-md:bg-[image:var(--image-url)]'
        >
            <div class="absolute inset-0 bg-gradient-to-r max-md:from-black/60 max-md:via-black/40 max-md:to-transparent"></div>

            <div class="relative">
                <h3 class="mb-2 md:mb-5 text-2xl md:text-4xl font-bold tracking-tight">{postTitle}</h3>
                <p class="mb-3 font-medium md:text-lg">{postDescription}</p>
                <p class="mb-3 text-sm md:text-base">Publicado el {dateFormatted}</p>
                <ul class="flex">
                    {tags.map((tag) => (
                        <>
                        <li>
                            <div class="me-2 backdrop-blur-sm max-md:bg-black/10 border rounded-md px-3 py-2">{tag}</div>
                        </li>
                        </>
                    ))}
                </ul>
            </div>
        </div>
        <img class="hidden md:block absolute ease-in-out transition-color duration-500 rounded-lg rotate-6 group-hover:rotate-12 top-[50%] group-hover:top-[45%] right-5 h-auto w-2/3 -z-10 -translate-y-1/2" src={`${postImage}`} alt={`${postTitle}`} />
    </div>
</a>