---
const projects = await Astro.glob('../pages/projects/*.mdx');
---

<section class="w-full bg-white border-y border-gray-200 px-4 md:px-6 py-6">
    <div class="flex overflow-x-auto">
        <!-- Recorre los proyectos y muestra cada tarjeta en el carrousel -->
        {projects.map((project) => (
            <div class="flex-shrink-0 mr-4">
              <a href={`${project.url}`}>
                <img class="h-[200px] w-[300px] object-cover rounded-md" src={`${project.frontmatter.projectImage}`} alt={`${project.frontmatter.projectTitle}`} />
                <h3 class="text-lg font-bold mt-2">{project.frontmatter.projectTitle}</h3>
                <p class="text-sm text-gray-500">{project.frontmatter.projectDescription}</p>
              </a>
            </div>
        ))}
    </div>
</section>