---
const posts = await Astro.glob('../pages/posts/*.mdx');
const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.publishedTime).getTime() - new Date(a.frontmatter.publishedTime).getTime());
const latestPost = sortedPosts[0];

const { postTitle, postImage, postDescription, publishedTime, url, tags } = latestPost.frontmatter;

const date = new Date(publishedTime)
const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'long', day: 'numeric' };
const dateFormatted = date.toLocaleDateString('es-ES', options)
---

<section class="w-full px-4 md:px-6 pb-6">

    <a class="block ease-in-out transition-all duration-500 bg-white border border-gray-200 rounded-lg md:max-w-xl hover:bg-gray-50 hover:shadow-md hover:-translate-y-3 after:content-[''] after:blur-md after:bg-blue-600" href={latestPost.url}>
        <!-- <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src={postImage} alt={postTitle} /> -->
        <div
            class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-6 leading-normal min-h-fit"
            style=`background-image: url('${postImage}')`
        >
            <div class="absolute inset-0 bg-gradient-to-r from-black/50 via-black/50 md:via-black/20 to-transparent"></div>

            <div class="relative text-white">
                <h3 class="ease-in-out transition-color duration-500 mb-2 text-2xl font-bold tracking-tight text-gray-100">{postTitle}</h3>
                <p class="mb-3 font-normal">{postDescription}</p>
                <p class="mb-3 font-normal text-sm">Publicado el {dateFormatted}</p>
                <ul class="flex mb-3">
                    {tags.map((tag, index) => (
                        <li key={index}>
                            <div class="me-2 backdrop-blur-sm bg-black/20 border rounded-md px-3 py-2 text-white">{tag}</div>
                        </li>
                    ))}
                </ul>
            </div>
        </div>
    </a>

</section>