---
import { formatDate } from '../utils';

const { projectTitle, url, projectImage, projectDescription, publishedTime } = Astro.props;

const dateFormatted = formatDate(publishedTime, 'es-ES', { year: 'numeric', month: 'long', day: 'numeric' });
---

<div>
  <div>
    <img src={projectImage} alt={projectImage}>
  </div>
  <div>
    <a href={url}>
      <h2>{projectTitle}</h2>
    </a>
    <p>{projectDescription}</p>
    <p>{dateFormatted}</p>
    <a href={url} class="post-summary__action text--bold">Read More</a>
  </div>
</div>