---
import { SEO } from 'astro-seo';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostTags from '../components/PostTags.astro';
import PostNewsletterBanner from '../components/PostNewsletterBanner.astro'
import PostAuthors from '../components/PostAuthors.astro';

const { frontmatter } = Astro.props;

const date = new Date(frontmatter.publishedTime)
const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'long', day: 'numeric' };
const dateFormatted = date.toLocaleDateString('es-ES', options)
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<SEO
			title={frontmatter.title}
			description={frontmatter.description}
			openGraph={{
				basic: {
					title: frontmatter.title,
					type: "article",
					image: frontmatter.image,
				},
				article: {
					publishedTime: frontmatter.publishedTime,
					modifiedTime: frontmatter.modifiedTime,
					expirationTime: frontmatter.expirationTime,
					authors: frontmatter.authors,
					tags: frontmatter.tags,
				}
			}}
			extend={{
				link: [{ rel: "icon", type:"image/svg+xml", href:"/favicon.svg" }]
			}}
		/>
	</head>
	<body>
		<Header/>
		<main class="container w-full md:max-w-3xl mx-auto py-20">
			<div class="prose lg:prose-xl">
				<h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">{frontmatter.title}</h1>
				<p class="text-sm md:text-base font-normal text-gray-600 mt-0">Publicado el {dateFormatted}</p>
				<slot />
			</div>
			<PostTags tags={frontmatter.tags} />
			<hr class="border-b-2 border-gray-400 mb-8 mx-4">
			<PostNewsletterBanner />
			<PostAuthors authorsKeys={frontmatter.authors} />
			<hr class="border-b-2 border-gray-400 mb-8 mx-4">
		</main>
		<Footer/>
	</body>
</html>